{% form_theme form 'admin/_filter_form_theme.html.twig' %}

<div class="card">
    <div class="card-header">
        <i class="fa fa-filter"></i>
        Filtres
    </div>

    <div class="card-body">
        {{ form(form) }}
    </div>
</div>
