<div class="datagrid-header">
    <ul class="datagrid-gloc-actions">
        {% for action in actions %}
            <li>
                <a class="btn" href="{{ path(action.route, action.options.route_params | default({})) }}">
                    <i class="fa fa-{{ action.icon }}"></i> {{ action.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

