<div class="datagrid-header">
    <ul class="datagrid-gloc-actions">
        {% for action in actions %}
            <li>
                <a class="btn" href="{{ action.url() }}">
                    {% if action.icon is not null %}
                        <i class="fa fa-{{ action.icon }}"></i>
                    {% endif %}
                    {{ action.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

