<tr class="{% block row_class '' %}">
    {% if massActionForm %}
        <td>
            {% set formItem = datagrid.batchActionItemForm(object) %}
            {% if formItem is not null %}
                {{ form_widget(formItem) }}
            {% endif %}
        </td>
    {% endif %}

    {% for column in datagrid.columns %}
        <td>
            {{ datagrid_cell(datagrid, object, column) }}
        </td>
    {% endfor %}
    {% if datagrid.actions %}
        <td>
            {{ include(
                '@UnZeroUnDatagrid/datagrid/actions.html.twig',
                { actions: datagrid.actions, object: object },
                with_context=false
            ) }}
        </td>
    {% endif %}
</tr>
